::ng-deep .savingThrowCard{
    text-align: center;
    width: 290px;
    margin-left: -70px;
    margin-top: 25px;
}
::ng-deep .savingThrowCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}
::ng-deep .savingThrowStatsLeft{
    float:right;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 40%;
    margin: 10px;
    margin-right: 3px;
    padding: 2px;
    width: 110px;
    font-size: 13px;
}
::ng-deep .savingThrowStatsLeftValue{
    float:right;
    border-left-style: solid;
    border-color: blueviolet;
    border-radius: 70%;
    padding:2px;
    margin-left:2px;
    font-weight: 700;
}

::ng-deep .savingThrowStatsRight{
    border-style: solid;
    border-color: blueviolet;
    border-radius: 40%;
    margin: 10px;
    margin-left: 5px;
    margin-right: 0px;
    padding: 2px;
    width: 110px;
    font-size: 13px;
}
::ng-deep .savingThrowStatsRightValue{
    float:left;
    border-right-style: solid;
    border-color: blueviolet;
    border-radius: 70%;
    padding:2px;
    margin-right:2px;
    font-weight: 700;
}


::ng-deep .savingThrowProfiency{
    margin:2px;
    margin-top: 20px;
}