::ng-deep .mainStatsCard{
    margin-top: 25px;
    margin-left:50px;
    width: 400px;
    height: 265px;
    border-style: solid;
}

::ng-deep .t{
    border-color: burlywood;
}
::ng-deep .mainStatsCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}    

::ng-deep .healthInput{
    width: 80px;
}