::ng-deep .mainStatsCard{
    margin-top: 25px;
    margin-left:50px;
    width: 400px;
    height: 265px;
    border-style: solid;
}


::ng-deep .mainStatsCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}    

::ng-deep .healthInput{
    position: relative;
    width: 70px;
    height: 40px;
    bottom: 10px;
}

::ng-deep .HealthCard{
    width: 190px;
    text-align: center;
    border-style: hidden;
    border-style: solid;
    border-width: 1px;
}

::ng-deep .healthLabel{
    font-size: 1.3vw;
}

::ng-deep #healthSlash{
    margin-left:10px;
    margin-right:10px;
    font-size: 1.3vw;
}

::ng-deep #maxHealth{
    margin-right:10px;
}

::ng-deep .healthHeader{
    font-weight: bold;
    font-size:1.3vw;
}
