<p-card *ngIf="mainStat != undefined" styleClass="mainStatsCard {{colorClass}}">
    <div class="row">
        <div class="HealthCard">
            <div class="row healthHeader justify-content-md-center">
                <span>Health</span>
            </div>
            <div class="row justify-content-md-center">
                <span>Current | Max (Temp)</span>
            </div>
            <div class="row justify-content-md-center">
                <label *ngIf="!currentHealthEdit" class="healthLabel"
                    (click)="editCurrentHealth()">{{mainStat.health}}</label>
                <input #healthInput id="healthInput" class="healthInput" type="number" autofocus
                    (blur)="editCurrentHealthClose($event)" (focusout)="editCurrentHealthClose($event)" maxlength="3"
                    [(ngModel)]="mainStat.health" *ngIf="currentHealthEdit" pInputText>
                <span id="healthSlash">|</span>
                <label id="maxHealth" class="healthLabel">{{mainStat.maxHealth}}</label>
                <span class="healthLabel" *ngIf="healthParentheses">(</span>
                <label *ngIf="!tempHealthEdit" class="healthLabel"
                    (click)="editTempHealth()">{{mainStat.tempHealth}}</label>
                <input #tempHealthInput id="tempHealthInput" class="healthInput" type="number" autofocus
                    (blur)="editTempHealthClose($event)" (focusout)="editTempHealthClose($event)" maxlength="3"
                    [(ngModel)]="mainStat.tempHealth" *ngIf="tempHealthEdit" pInputText>
                <span class="healthLabel" *ngIf="healthParentheses">)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="SpeedCard">
            <div class="row speedHeader justify-content-md-center">
                <span>Speed</span>
            </div>
            <div class="row speedValue justify-content-md-center">
                <span>{{mainStat.speed}}</span>
            </div>
        </div>
        <div class="ArmorCard">
            <div class="row armorHeader justify-content-md-center">
                <span>AC</span>
            </div>
            <div class="row armorValue justify-content-md-center">
                <span>{{mainStat.armor}}</span>
            </div>
        </div>
        <div class="InitiativeCard">
            <div class="row initiativeHeader justify-content-md-center">
                <span>Initiative</span>
            </div>
            <div class="row initiativeValue justify-content-md-center">
                <span>+{{mainStat.initiative}}</span>
            </div>
        </div>
    </div>
</p-card>