::ng-deep .mainStatsCard{
    margin-top: 25px;
    margin-left:50px;
    width: 300px;
    height: 265px;
}


::ng-deep .HealthCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}    

::ng-deep .healthInput{
    position: relative;
    width: 70px;
    height: 40px;
    bottom: 10px;
}

::ng-deep .HealthCard{
    width: 190px;
    text-align: center;
    border-style: solid;
    margin-bottom: 5px;
}

::ng-deep .healthLabel{
    font-size: 1.3vw;
}

::ng-deep #healthSlash{
    margin-left:10px;
    margin-right:10px;
    font-size: 1.3vw;
}

::ng-deep #maxHealth{
    margin-right:10px;
}

::ng-deep .healthHeader{
    font-weight: bold;
    font-size:1.3vw;
}

::ng-deep .SpeedCard{
    width: 100px;
    text-align: center;
    border-style: solid;
    margin-right: 5px;
}
::ng-deep .SpeedCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}    
::ng-deep .speedHeader{
    font-weight: bold;
    font-size:1.3vw;
}
::ng-deep .speedValue{
    font-size:1.3vw;
}
::ng-deep .ArmorCard{
    width: 100px;
    text-align: center;
    border-style: solid;
    margin-right: 5px;
}
::ng-deep .ArmorCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}   
::ng-deep .armorHeader{
    font-weight: bold;
    font-size:1.3vw;
}
::ng-deep .armorValue{
    font-size:1.3vw;
}
::ng-deep .InitiativeCard{
    width: 120px;
    text-align: center;
    border-style: solid;
}
::ng-deep .InitiativeCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}   
::ng-deep .initiativeHeader{
    font-weight: bold;
    font-size:1.3vw;
}
::ng-deep .initiativeValue{
    font-size:1.3vw;
}
::ng-deep .ProficiencyCard{
    width: 140px;
    text-align: center;
    border-style: solid;
}
::ng-deep .ProficiencyCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}   
::ng-deep .proficiencyHeader{
    font-weight: bold;
    font-size:1.3vw;
}
::ng-deep .proficiencyValue{
    font-size:1.3vw;
}
::ng-deep .InspirationCard{
    border-style: solid;
    
    width: 64;
    height: 64;
    min-width: 64;
    min-height: 64;
}
::ng-deep .InspirationCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}   