::ng-deep #image{
    margin-bottom: 20px;
    margin-right: 8px;
    margin-left: 110px;
}
::ng-deep #uploader{
    margin-bottom: 20px;
}
::ng-deep .imageArea{
    margin-left: 85px;
}
::ng-deep #saveButton{
    margin-top: 15px;
    margin-left:175px;
}
::ng-deep #cancelButton{
    margin-top: 15px;
    margin-left:60px;
    margin-right: 0px;
}
::ng-deep .firstRow{
    margin-left:120px;
}
::ng-deep #levelInput{
    width: 10px;
}
::ng-deep .spellDescriptionArea{
    margin-top: 10px;
    margin-left: 75px;
}
::ng-deep .thirdRow{
    margin-top: 10px;
}
::ng-deep .fourtRow{
    margin-left: 60px;
}
::ng-deep .modalWindow{
    margin-left: 150px;
}