<p-tabView *ngIf="characterDetail != undefined">
    <p-tabPanel header="PersonalityTraits" headerStyleClass="detailBackground">
        {{characterDetail.personalityTraits}}
    </p-tabPanel>
    <p-tabPanel header="Flaws" headerStyleClass="detailBackground">
        {{characterDetail.flaws}}
    </p-tabPanel>
    <p-tabPanel header="Ideals" headerStyleClass="detailBackground">
        {{characterDetail.ideals}}
    </p-tabPanel>
    <p-tabPanel header="Bonds" headerStyleClass="detailBackground">
        {{characterDetail.bonds}}
    </p-tabPanel>
    <p-tabPanel header="Allies" headerStyleClass="detailBackground">
        {{characterDetail.allies}}
    </p-tabPanel>
    <p-tabPanel header="Alignment" headerStyleClass="detailBackground">
        {{characterDetail.alignment}}
    </p-tabPanel>
    <p-tabPanel header="Faith" headerStyleClass="detailBackground">
        {{characterDetail.faith}}
    </p-tabPanel>
    <p-tabPanel header="Backstory" headerStyleClass="detailBackground">
        {{characterDetail.backstory}}
    </p-tabPanel>
</p-tabView>