<p-accordion *ngIf="characterDetail != undefined" [multiple]="true">
    <p-accordionTab header="PersonalityTraits">
        {{characterDetail.personalityTraits}}
    </p-accordionTab>
    <p-accordionTab header="Flaws">
        {{characterDetail.flaws}}
    </p-accordionTab>
    <p-accordionTab header="Ideals">
        {{characterDetail.ideals}}
    </p-accordionTab>
    <p-accordionTab header="Bonds">
        {{characterDetail.bonds}}
    </p-accordionTab>
    <p-accordionTab header="Allies">
        {{characterDetail.allies}}
    </p-accordionTab>
    <p-accordionTab header="Alignment">
        {{characterDetail.alignment}}
    </p-accordionTab>
    <p-accordionTab header="Faith">
        {{characterDetail.faith}}
    </p-accordionTab>
    <p-accordionTab header="Backstory">
        {{characterDetail.backstory}}
    </p-accordionTab>
</p-accordion>