<p-accordion [multiple]="true">
    <p-accordionTab header="PersonalityTraits">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Flaws">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Ideals">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Bonds">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Allies">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Alignment">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Faith">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Backstory">
        Content 1
    </p-accordionTab>
</p-accordion>