<button id="newSpellButton" pButton type="button" label="New Spell" iconPos="left" (click)="createButtonClicked($event)"></button>

<p-table #table [value]="gridDataSource"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    [globalFilterFields]="['spellname','description','components','castType','level','actionTime','range','damageBase','duration','hitBase']">
    <ng-template pTemplate="header">
            <input pInputText type="text" (input)="table.filterGlobal($event.target.value, 'contains')"
                placeholder="Search keyword" />
        <tr>
            <th style="width:5%;"></th>
            <!--Avatar Table header-->
            <th style="width:10%;">Spell Name</th>
            <th style="width:19%;">Description</th>
            <th style="width:16%;">Comp</th>
            <th style="width:5%;">School</th>
            <th style="width:5%;">Level</th>
            <th style="width:8%;">Action Time</th>
            <th style="width:7%;">Range</th>
            <th style="width:8%;">Damage Base</th>
            <th style="width:7%;">Duration</th>
            <th style="width:8%;">Hit Base</th>
            <th style="width:2%;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-spell>
        <tr (dblclick)="spellClick(spell)">
            <td>
                <p-avatar [image]="spell.hasIcon ? iconPath+spell.ref+'.jpg' : placeOverIconPath" size="large">
                </p-avatar>
            </td>
            <td class="spellName">{{spell.spellName}}</td>
            <td [title]="spell.description"><span class="spellDescription">{{spell.description}}</span></td>
            <td>{{spell.components}}</td>
            <td>{{spell.castType}}</td>
            <td><span class="numberTableValue">{{spell.level}}</span></td>
            <td><span class="numberTableValue">{{spell.actionTime}}</span></td>
            <td><span class="numberTableValue">{{spell.range}}</span></td>
            <td>{{spell.damageBase}}</td>
            <td><span class="numberTableValue">{{spell.duration}}</span></td>
            <td>{{spell.hitBase}}</td>
            <td>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteButtonClicked(spell)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-spell-editor-modal #spellModal (NewSpell)="emittedEquipment($event)" (UploadFile)="emittedUploadIcon($event)"></app-spell-editor-modal>