<div class="row characterScreen">
    <app-character-sheet-selection (CharacterClick)="emittedCharacterClicked($event)"></app-character-sheet-selection>
    <div class="col-sm-2">
        <app-character-sheet-secondary-stats *ngIf="SecondaryStatsComponentEnable" [character]="selectedCharacter">
        </app-character-sheet-secondary-stats>
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-5">
                <app-character-sheet-saving-throws *ngIf="SavingThrowComponentEnable" [character]="selectedCharacter">
                </app-character-sheet-saving-throws>
            </div>
            <div class="col-sm-7">
                <app-character-sheet-main-stats *ngIf="MainStatsComponentEnable" [character]="selectedCharacter"></app-character-sheet-main-stats>
            </div>
        </div>
        <div class="row">
            <app-character-sheet-details *ngIf="DetailsComponentEnable" [character]="selectedCharacter"></app-character-sheet-details>
        </div>
    </div>

    <div class="col-sm-2">
        <app-character-sheet-skills *ngIf="SkillsComponentEnable" [character]="selectedCharacter">
        </app-character-sheet-skills>
    </div>
</div>


<app-character-sheet-sidebar (OnHideClicked)="onHideClicked()"  [displayBarSide]="displayBarSide"></app-character-sheet-sidebar>