::ng-deep .characterScreen{
    position: relative;
    right: 100px;
}

::ng-deep .charactersCarousel{
    height: 500px;
    margin-right: 50px;
}
::ng-deep .characterCards{
    width: 250px;
    border: 4px solid #BFBFBF;
}

::ng-deep .characterCardsSelected{
    width: 250px;
    border: 4px solid blueviolet;
}
::ng-deep .characterCardsSelected:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}
::ng-deep .characterCards:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}
::ng-deep .cardButtons:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}
::ng-deep .characterAvatar:hover{
    cursor: pointer;
}
