<button id="newEquipmentButton" pButton type="button" label="New Equipment" iconPos="left" (click)="createButtonClicked($event)"></button>

<p-table  [value]="gridDataSource" [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
    <ng-template  pTemplate="header">
        <tr>
            <th style="width:10%;"></th>
            <th style="width:22%;">Equipment Name</th>
            <th style="width:60%;">Description</th>
            <th style="width:8%;">Cost</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipment>
        <tr  (dblclick)="itemDoubleClick(equipment)">
            <td>
            <p-avatar
            [image]="equipment.hasIcon ? iconPath+equipment.ref+'.jpg' : placeOverIconPath"
            size="large"></p-avatar>
            </td>
            <td>{{equipment.equipmentName}}</td>
            <td>{{equipment.description}}</td>
            <td>{{equipment.cost}}</td>
        </tr>
    </ng-template>
</p-table>
<app-equipment-editor-modal #modal (NewEquipment)="emittedEquipment($event)" (UploadFile)="emittedUploadIcon($event)"></app-equipment-editor-modal>