<button id="newEquipmentButton" pButton type="button" label="New Equipment" iconPos="left" (click)="createButtonClicked($event)"></button>

<p-table #table [value]="gridDataSource" [globalFilterFields]="['equipmentName','description','cost']" [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
    <ng-template  pTemplate="header">
        <input pInputText type="text" (input)="table.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        <tr>
            <th style="width:10%;"></th><!--Avatar Table header-->
            <th style="width:20%;">Equipment Name</th>
            <th style="width:57%;">Description</th>
            <th style="width:8%;">Cost</th>
            <th style="width:5%"></th><!--Delete Button-->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipment>
        <tr  (dblclick)="itemDoubleClick(equipment)">
            <td>
            <p-avatar
            [image]="equipment.hasIcon ? iconPath+equipment.ref+'.jpg' : placeOverIconPath"
            size="large"></p-avatar>
            </td>
            <td>{{equipment.equipmentName}}</td>
            <td [title]="equipment.description" ><span class="equipmentDescription">{{equipment.description}}</span></td>
            <td>{{equipment.cost}}</td>
            <td>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteButtonClicked(equipment)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-equipment-editor-modal #equipmentModal (NewEquipment)="emittedEquipment($event)" (UploadFile)="emittedUploadIcon($event)"></app-equipment-editor-modal>