::ng-deep .skillsName {
    border-bottom: grey ;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: blueviolet;
    width: 150px;
}
::ng-deep .skill{
    margin:10px;
    margin-right: 0px;
}

::ng-deep .skillValue{
    margin-left: 10px;
    font-weight: bold;
    width: 30px;
}
::ng-deep .skillProfiency{
    margin-top: 6px;
    margin-left: 10px;
}

::ng-deep .skillsCard{
    margin-left:150px;
    margin-top:25px;
    width: 280px;
}
::ng-deep .skillsCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}
::ng-deep .skillsName{
    margin-left : 10px;
}