::ng-deep .secondaryStatCard{
    width: 120px;
    height: 100px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: blueviolet;
}

::ng-deep .cardStatValues{
    text-align: center;
    position: relative;
    bottom:40px;
}
::ng-deep .cardStatModifier{
    text-align: center;
    position: relative;
    bottom:50px;
}
::ng-deep .cardStat{
    text-align: center;
    position: relative;
    bottom:25px;
    font-weight: 500;
}