<div *ngIf="cardDataSource != undefined">
    <p-card styleClass="secondaryStatCard p-shadow-24 " >
        <p class="cardStat">Strength</p>
        <p class="cardStatValues">{{cardDataSource.strength}}</p>
        <p class="cardStatModifier">0</p>
    </p-card>
    <p-card styleClass="secondaryStatCard p-shadow-24" >
        <p class="cardStat">Dexterity</p>
        <p class="cardStatValues">{{cardDataSource.dexterity}}</p>
        <p class="cardStatModifier">0</p>
    </p-card>
    <p-card styleClass="secondaryStatCard p-shadow-24" >
        <p class="cardStat">Constitution</p>
        <p class="cardStatValues">{{cardDataSource.constitution}}</p>
        <p class="cardStatModifier">0</p>
    </p-card>
    <p-card styleClass="secondaryStatCard p-shadow-24" >
        <p class="cardStat">Intelligence</p>
        <p class="cardStatValues">{{cardDataSource.intelligence}}</p>
        <p class="cardStatModifier">0</p>
    </p-card>
    <p-card styleClass="secondaryStatCard p-shadow-24" >
        <p class="cardStat">Wisdom</p>
        <p class="cardStatValues">{{cardDataSource.wisdom}}</p>
        <p class="cardStatModifier">0</p>
    </p-card>
    <p-card styleClass="secondaryStatCard p-shadow-24" >
        <p class="cardStat">Charisma</p>
        <p class="cardStatValues">{{cardDataSource.charisma}}</p>
        <p class="cardStatModifier">0</p>
    </p-card>
    
</div>