::ng-deep .secondaryStatCard{
    width: 120px;
    height: 100px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: blueviolet;
}
::ng-deep .secondaryStatCard:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
}

::ng-deep .cardStatValues{
    text-align: center;
    position: relative;
    bottom:40px;
}
::ng-deep .cardStatModifier{
    text-align: center;
    position: relative;
    bottom:50px;
}
::ng-deep .cardStat{
    text-align: center;
    position: relative;
    bottom:25px;
    font-weight: 500;
}
::ng-deep .cardStatModifierBorder{
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-color:blueviolet;
    border-radius: 50%;
}
::ng-deep .firstCard{
    margin-top: 25px;
}